<section class="admin-page">
  <div class="admin-content">
    <div class="admin-container">
      <h1 class="admin-title">{{ 'ADMIN.TITLE' | translate }}</h1>
      <p class="admin-text">{{ 'ADMIN.TEXT' | translate }}</p>
      <button type="button" class="button main-btn">{{ 'ADMIN.BTN' | translate }}</button>
    </div>
    <div class="timeline-controls">
      <button type="button" class="control-btn" (click)="playTimeline()">Play</button>
      <button type="button" class="control-btn" (click)="pauseTimeline()">Pause</button>
      <button type="button" class="control-btn" (click)="reverseTimeline()">Reverse</button>
    </div>
  </div>
</section>