<div class="login-container">
  <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

  <form (ngSubmit)="login()">
    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      placeholder="{{ 'LOGIN.USERNAME_LABEL' | translate }}"
      required
    />

    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="{{ 'LOGIN.PASSWORD_LABEL' | translate }}"
      required
    />

    <button type="submit">{{ 'LOGIN.SUBMIT_BTN' | translate }}</button>

    @if (error) {
      <p class="error">{{ error | translate }}</p>
    }
  </form>
</div>